# Configuração API
API_HOST=
API_PORT=

DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# Integração Auth Service
AUTH_SERVICE_URL=http://localhost:8000
AUTH_SERVICE_TIMEOUT=10

# Integração Livestream Service
LIVESTREAM_SERVICE_URL=http://localhost:3333
LIVESTREAM_SERVICE_TIMEOUT=10
