# GERAL
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.log
tmp/
temp/

# SEGURANÇA E AMBIENTE
.env
.env.*
!.env.example
*.pem
*.key
*.p12
*.jks
secrets.yaml

# IDEs
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Eclipse
.classpath
.project
.settings/
.factorypath

# PYTHON
__pycache__/
*.py[cod]
*$py.class
*.so

# Ambientes Virtuais
.venv/
venv/
env/

# Distribuição e Build Python
build/
dist/
*.egg-info/
*.egg
*.whl

# Testes e Linter
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
coverage.xml

# JAVA
# Arquivos compilados
*.class

# Pacotes finais
*.jar
*.war
*.ear
*.nar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Spring Boot
hs_err_pid*
replay_pid*