# Banco da aplicação (PostgreSQL)
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# Keycloak (PostgreSQL separado)
KEYCLOAK_DATABASE_USER=
KEYCLOAK_DATABASE_PASSWORD=
KEYCLOAK_DATABASE_URL=

# Configuração API
API_HOST=
API_PORT=

RESEND_API_KEY=
EMAIL_TOKEN_SECRET=
